/* General */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden; 
  font-size:1em;
  text-align:Left;
}

a {
  color: #3399ff;
  outline: none;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #003E7E;
  outline: none; }

h1 {
  color: #3399ff;
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

li {
  margin: 0.3em 0;
}

p {
  margin: 0.5em 0;
}

.billboard {
  padding-top: 80px;
}

.intern,
.intern:hover {
  color: black;
  text-decoration: none;
}
